NODE_ENV=development
PORT=3001
DATABASE_URL="postgresql://zafira_hub_app:sua_senha_aqui@localhost:5432/zafira_hub_v2?schema=public"
CORS_ORIGIN="http://localhost:5173"
ADMIN_EMAIL="admin@zafira.com.br"
HUB_INTERNAL_API_KEY="chave_secreta_interna_para_acesso_a_rotas_privadas"
